:root {
    --primary-color: #7b163e;
    /* UES Burgundy */
    --primary-hover: #a01a4d;
    --secondary-color: #1a202c;
    --accent-emerald: #059669;
    --accent-amber: #d97706;
    --text-main: #0f172a;
    --text-muted: #64748b;
    --text-light: #f8fafc;
    --bg-main: #f8f9fa;
    --bg-alt: #ffffff;
    --bg-card: #ffffff;
    --border-color: #e2e8f0;
    --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}