---

---

<div class="web-padding">
    <slot />
</div>

<style>
    .web-padding {
        display: flex;
        justify-content: center;
        align-items: start;
        width: 83.33%; /* 10/12 equivalent */
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
    }
</style>
